input{
  margin-bottom: 2em;
  height: 2em;
  width: 16em;
}
#content{
  width: 40%;
  position: absolute;
  padding-top: 3em;
  left: 30%;
  margin-right: -30%;
}
.book_piece{
  width: 80%;
  border: 2px solid darkgray;
  padding: 2em;
}

.book_title_label{
  text-align: center;
}
.book_thumbnail img{
    width: 80%;
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.book_description {
    border: 1px solid lightblue;
    padding: 0.5em;
    text-align: center;
}
